@charset "UTF-8";

 body{
	font-family: Arial, Helvetica, Geneva, sans-serif;
	font-size: 14px;
} 
.error{
	color: #FF0000;
}
.success{
	color: #0000FF;
}
.topText{
	font-size: 20px;
	font-weight: bold;
	color: #0000FF;
}